﻿﻿/*
font-family: 'Gotham Pro Bold';
font-family: 'PFEncoreSansPro';
*/
*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Gotham Pro Bold';
	src: url(../fonts/GothamPro/GothamPro-Bold.woff) format('woff');
	src: url(../fonts/GothamPro/GothamPro-Bold.ttf) format('truetype');
	src: url(../fonts/GothamPro/GothamPro-Bold.eot) format('eot');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PFEncoreSansPro';
	src: url(../fonts/PFEncoreSansPro/PFEncoreSansPro-Thin.otf);
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'PFEncoreSansPro';
	src: url(../fonts/PFEncoreSansPro/PFEncoreSansPro-Light.otf);
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'PFEncoreSansPro';
	src: url(../fonts/PFEncoreSansPro/PFEncoreSansPro-Medium.otf);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PFEncoreSansPro';
	src: url(../fonts/PFEncoreSansPro/PFEncoreSansPro-Bold.otf);
	font-weight: 700;
	font-style: normal;
}
body {
	margin:0;
	padding: 0;
	font-family: 'PFEncoreSansPro', sans-serif;
	color: #868686;
	font-weight: 300;
}
p, div, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0; 
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}
a{
	text-decoration: none;
	color: #979797;
}
.section{
	max-width: 2560px;
	min-width: 1260px;
	text-align: center;
}  
.container{
	width: 940px;
	margin: 0 auto;
}
/*header*/
.header{
	text-align: center; 
	max-width: 2560px;
	min-width: 1260px;
	background: url(../img/header_bg.jpg) no-repeat center top/cover;
}
a.details_button:hover{
	transition: all 0.7s ease;
	background-color: #ff453f;
}
a.button:hover{
	transition: all 0.7s ease;
	color: #ff453f;
	border: 2px solid #ff453f;
}
/*section_1*/
.logo{
	display: flex;
	align-items: center;
}
.hexagon_logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 35px;
	background: #fc645f;
	position: relative;
	color: #0c252d;
	font-size: 30px;
	font-family: 'Gotham Pro Bold', sans-serif; 
	font-weight: 700;
	z-index:0;
}
.hexagon1{
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: rotate(60deg);
	background: #fc645f;
	z-index: -1;	 
}
.hexagon2{
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: rotate(-60deg);
	background: #fc645f;
	z-index: -1;
}
.logo h2{
	margin-left: 14px;
	color: #fff;
	font-family: 'Gotham Pro Bold', sans-serif;
	font-weight: 700;
	font-size: 24px;
}
.menu_and_logo_container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}
.menu{
	display: inline-flex;
	justify-content: space-between;
}
.menu li a{
	color: #fff;
	font-size: 16px;
	font-weight: 200;
	padding-bottom: 5px;
}
.menu li{
	margin-left: 50px;
	text-transform: uppercase;
}
.menu li:first-child{
	margin-left: 0;
}
.menu li a.active, .menu li a:hover, .menu li a:focus{
	color: #fc635e;
	border-bottom: 4px solid #fc635e;
}
.tagline_container{
	margin-top: 188px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tagline_container div{
	width: 107px;
	height: 8px;
}
div.right{
	background-color: #4e4c4d;
}
div.left{
	background-color: #7d7a78;
}
.tagline{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	padding: 0 10px; 
}
.tagline span{
	color: #fc635e;
}
.receive_clients{
	margin-top: 24px;
	color: #fff;
	font-size: 24px;
	font-weight: 300;
}
.button_container{
	margin-top: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.button{
	display: inline-block;
	padding: 17px 35px;
	color: #fc635e;
	border: 2px solid #fc635e;
	border-radius: 6px;
}
.mouse_contaier{
	position: relative;
	margin-left: 9px;
}
.line{
	height: 329px;
	width: 72px;
	position: absolute;
	border-top: 1px dashed #7d7d7c;
	border-right: 1px dashed #7d7d7c;
	border-top-right-radius: 30px;
	top: 42%;
	left: 100%;
}
.anchor i{
	margin-top: 240px;
	font-size: 18px;
	font-weight: 100;
	color: #fc635e;
	border: 1px solid #fc635e;
	padding: 5px;
	border-radius: 50%;
}
.anchor{
	padding-bottom: 29px;
}
.fa:hover, .fa:focus{
	transition: all 0.5s ease;
	background-color: #fc635e;
	color: #fff;
}
/*section_1_end*/
/*section_2*/
.heading{
	display: inline-block;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 400;
	padding-bottom: 10px;
	margin-top: 65px;
	border-bottom: 1px solid #adadad;
}
.heading span{
	color: #fc635e;
}
.heading_message{
	display: block;
	margin: 18px auto 0; 
	width: 514px;
	font-size: 20px;
	font-weight: 300;
}
.services_main_container{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
.service_container{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.service_icon_container{
	height: 116px;
	display: flex;
	justify-content: center;
	align-items: center; 
}
.hexagon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 30px;
	font-family: 'Gotham Pro Bold', sans-serif; 
	font-weight: 700;
	z-index:0;
	position: relative;
	box-sizing: border-box;
	width: 90px; 
	height: 51.96px;
	background-color: #fc635e;
	margin: 25.98px 0;
	border-left: solid 5px #fe8682;
	border-right: solid 5px #fe8682;
}
.hexagon:before, .hexagon:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 63.64px;
	height: 63.64px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 8.1802px;
	z-index: -1;
}
.hexagon:before {
	top: -31.8198px;
	border-top: solid 7.0711px #fe8682;
	border-right: solid 7.0711px #fe8682;
}
.hexagon:after {
	bottom: -31.8198px;
	border-bottom: solid 7.0711px #fe8682;
	border-left: solid 7.0711px #fe8682;
}
.hexagon i{
	font-size: 40px;
}
.service{
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 400;
}
.black_line{
	margin-top: 10px;
	height: 1px;
	width: 57px;
	background-color: #adadad;
}
.service_info{
	margin-top: 20px;
	font-size: 15px;
	width: 206px;
}
.section2 i{
	margin-top: 50px;
}
.section2{
	padding-bottom: 15px;
}
/*section_2_end*/
/*section_3*/
.inner_container{
	border: 8px solid rgba(225, 225, 225, 0.1);
	display: inline-block;
	margin-top: 100px;
	padding: 125px 150px 100px;
}
.expand{
	background: url(../img/town.jpg) no-repeat center top/cover;
	text-align: center;
}
.expand span{
	color: #fc635e;
}
.expand h2{
	font-size: 50px;	
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;	
}
.expand .button{
	margin-top: 50px;
	padding: 17px 60px;
}
.expand .button{
	margin-top: 52px;
	font-size: 24px;
	padding: 13px 60px;
}
.section3 i{
	margin-top: 53px;
}
.section3{
	padding-bottom: 20px;
}
/*section_3_end*/
/*section_4*/
.honeycombs_container{
	display: inline-block;
	margin: 100px auto;
	position: relative;
}
.honeycombs_container{
	position: relative;
	width: 815px;
	height: 570px;
	margin: 55px auto 0; 
}
.small_honeycombs{
	position: absolute;
	width: 191px;
	height: 201px;
}
.big_honeycombs{
	position: absolute;
	width: 279px;
	height: 320px;
}
.cell_1{
	top: 98px;
	background: url(../img/step_1.png) no-repeat center top/cover;
}
.cell_2{
	top: 151px;
	left: 265px;
	background: url(../img/step_2.png) no-repeat center top/cover;
}
.cell_3{
	top: 1px;
	left: 352px;
	background: url(../img/step_3.png) no-repeat center top/cover;
}
.cell_4{
	top: 74px;
	left: 523px;
	background: url(../img/step_4.png) no-repeat center top/cover;
}
.cell_5{
	top: 247px;
	left: 50px;
	background: url(../img/step_5.png) no-repeat center top/cover;
}
.red_line_container{
	position: absolute;
	width: 98px;
	height: 55px;
	z-index: 1;
}
.red_line{
	height: 58px;
	top: 244px;
	left: 187px;
	background: url(../img/red_line.png) no-repeat center top/cover;
}
.honeycombs_container .heading_message{
	display: block;
	width: 78%;
	font-size: 15px;
	font-weight: 300;
	margin: 10px 0px 0px 31px;
}
.honeycombs_container .heading{
	margin: 42px 0px 0px 23px;
	padding-bottom: 4px;
}
.cell_4 .heading{
	margin-top: 62px;
}
.section4 i{
	margin-top: 36px;
}
/*section_4_end*/
/*section_5*/
.section_color{
	background-color: #ececec;
}
.details_container{
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
}
.details_info{
	text-align: left;
}
.details_headinfo{
	text-transform: uppercase;
	margin-top: 40px;
	font-size: 28px;
	font-weight: 400;
	padding: 9px 7px 6px 7px;
	border-left: 10px solid #fc635e; 
}
.details_info p{
	display: block;
	width: 397px;
	margin-top: 20px;
	font-size: 15px;
	font-weight: 300;
}
.details_button {
	display: inline-block;
	margin-top: 28px;
	font-size: 20px;
	padding: 13px 32px;
	border-radius: 5px;
	background-color: #fc635e;
	color: #fff;
}
/*section_5_end*/
/*section_6*/
.reverse{
	flex-direction: row-reverse;
}
.reverse .details_info{
	text-align: right;
}
.reverse .details_headinfo{
	border-left: none;
	border-right: 10px solid #fc635e;
}
.details_container_padding{
	padding-top: 132px;
	margin-top: 0;
}
/*section_6_end*/
/*section_7*/
.categories{
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 39px;
	font-size: 20px;
	text-transform: uppercase;
	border-top: 1px solid #adadad;
	border-bottom: 1px solid #adadad;
	padding: 22px 22px;
}
.categories span{
	color: #fc635e;
}
.grid_portfolio_images_container{
	margin-top: 45px;
	display: grid;
	grid-gap: 12px;
	grid-template-columns: repeat(4, 226px);
	grid-template-rows: repeat(2, 194px);
}
.grid_portfolio_image_item{
	position: relative;
	overflow: hidden;
	color: #fff;
}
.grid_portfolio_image_item img{
	margin: auto; 
	min-width: 100%;
	height: auto;
}
.special_item_1{
	grid-column-start:1;
	grid-column-end: 3;
}
.special_item_2{
	grid-column-start:3;
	grid-column-end: 5;
	
}
.special_item_1 img{
	width: 100%;
	height: 120%;
}
.special_item_2 img{
	width: 100%;
	height: 115%;
}
.filter{
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -50;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #fc605a;
	opacity: .7;
}
.filter_text{
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -25;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}
.filter_text p{
	position: absolute;
	top: 27px;
	left: 22px;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}
.plus_container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	font-size: 100px;
	font-weight: 700;
}
.plus_container a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	color: #fff;
}
div.plus_container:hover{
	transition: all 0.2s ease;
	font-size: 130px;	
}
.special_item_1 .filter{
	z-index: 25;
}
.special_item_1 .filter_text{
	z-index: 50;
}
.grid_portfolio_image_item:hover > .filter{
	z-index: 25;
	animation-name: filter_activation_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.grid_portfolio_image_item:hover > .filter_text{
	z-index: 35;
	animation-name: filter_activation_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.grid_portfolio_image_item:focus > .filter{
	z-index: 25;
	animation-name: filter_activation_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.grid_portfolio_image_item:focus > .filter_text{
	z-index: 35;
	animation-name: filter_activation_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.portfolio_button_margin{
	margin-top: 60px;
}
.portfolio_anchor_margin{
	margin-top: 25px;
}
i.portfolio_anchor{
	margin-top: 0;
}
.categories_item a:hover{
	transition: all 0.7s ease;
	color: #ff0800;
}
/*section_7_end*/
/*section_8*/
.team_bacground{
	background: url(../img/team_bg.jpg) no-repeat center top/cover;
	text-align: center;
}
.special_color{
	color: #565656;
	margin-top: 55px;
}
.members_container{
	margin: 75px auto 0;
	display: flex;
	justify-content: space-between;
	width: 822px;
}
.member_container{
	width: 230px;
}
.member_image{
	margin: 0 auto; 
	width: 148px;
	height: 172px;
}
.member_name{
	margin-top: 25px;
	font-size: 23px;
	color: #565656;
}
.member_name span{
	color: #fc635e;
	font-weight: 400;
}
.member_specialization{
	margin-top: 10px;
	color: #565656;
	font-size: 18px;
	font-weight: 300;
}
.social_networks_container{
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.social_networks_container ul{
	width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.social_networks_item{
	display: inline-block;
	color: #d5d5d5;
	font-size: 18px;
}
.social_networks_item:hover > .icon_container{
	transition: all 0.5s ease;
	background-color: #fc635e;
}
.social_networks_item:focus > .icon_container{
	transition: all 0.5s ease;
	background-color: #fc635e;
}
.social_networks_item i.fa:hover, .social_networks_item i.fa:focus{
	transition: all 0.5s ease;
	color: #d5d5d5;
	background-color: #fc635e;
}
.icon_container{
	width: 37px;
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #565656;
	border-radius: 50%;
}
.team_anchor_margin{
	margin-top: 70px;
}
i.team_anchor{
	margin-top: 0;
}
/*section_8_end*/
/*section_9*/
.alan_section{
	padding-bottom: 165px;
}
.hexagon_container{
	display: inline-block;
	margin: 52px auto 0;
}
.small_hexagon_alan_section {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: #fff;
	box-sizing: border-box;
	position: relative;
	width: 76px; 
	height: 43.88px;
	background-color: #fc635e;
	margin: 21.94px 0;
	border-left: solid 4px #fe8682;
	border-right: solid 4px #fe8682;
}
.small_hexagon_alan_section:before,
.small_hexagon_alan_section:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 53.74px;
	height: 53.74px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 7.1299px;
}
.small_hexagon_alan_section:before {
	top: -26.8701px;
	border-top: solid 5.6569px #fe8682;
	border-right: solid 5.6569px #fe8682;
}
.small_hexagon_alan_section:after {
	bottom: -26.8701px;
	border-bottom: solid 5.6569px #fe8682;
	border-left: solid 5.6569px #fe8682;
}
.alan_richman_container{
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.alan_info{
	text-align: justify;
	font-size: 15px;
	width: 320px;
}
.special_align{
	text-align: left;
}
.arrows_container{
	margin: 50px auto 0;
	width: 90px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 22px;
	color: #fc635e;
}
.arrows{
	width: 27px;
	height: 27px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border: 2px solid #fc635e;
	border-radius: 50%;
}
/*section_9_end*/
/*section_10*/
.google_maps{
	height: 336px;
}
iframe{
	filter: grayscale(100%);
}
iframe:hover{
	transition: all 3s ease;
	filter: grayscale(0%);	
}
iframe:focus{
	transition: all 3s ease;
	filter: grayscale(0%);	
}
iframe:hover +div.google_maps_contaier{
	display: none;	
}
iframe:focus +div.google_maps_contaier{
	display: none;	
}
.google_maps_contaier{
	position: relative;
}
.google_maps_hexagon_container{
	position: absolute;
	top: -461px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	width: 187px;
}
.google_maps_hexagon {
	z-index: 150;
	box-sizing: border-box;
	position: relative;
	width: 187px; 
	height: 107.96px;
	background-color: #fc635e;
	margin: 53.98px 0;
	border-left: solid 11px #fe8682;
	border-right: solid 11px #fe8682;
}
.google_maps_hexagon:before,
.google_maps_hexagon:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 132.23px;
	height: 132.23px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 16.3855px;
}
.google_maps_hexagon:before {
	top: -66.1145px;
	border-top: solid 15.5563px #fe8682;
	border-right: solid 15.5563px #fe8682;
}
.google_maps_hexagon:after {
	bottom: -66.1145px;
	border-bottom: solid 15.5563px #fe8682;
	border-left: solid 15.5563px #fe8682;
}
.google_maps_hexagon h2{
	font-weight: 400;
	font-size: 27px;
	color: #fff;
}
.google_maps_hexagon p{
	margin-top: 17px;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
}
/*section_10_end*/
/*footer*/
.footer{
	height: 211px;
	max-width: 2560px;
	min-width: 1260px;
	text-align: center;
	background: url(../img/footer_bg.jpg) no-repeat center top/cover;
}
.logo_and_name_container{
	width: 188px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding-top: 78px;
}
.footer_hexagon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #323743;
	font-size: 42px;
	font-family: 'Gotham Pro Bold', sans-serif; 
	font-weight: 700;
	position: relative;
	width: 78px; 
	height: 45.03px;
	background-color: #fc6863;
	margin: 22.52px 0;
}
.footer_hexagon:before,
.footer_hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 39px solid transparent;
	border-right: 39px solid transparent;
}
.footer_hexagon:before {
	bottom: 100%;
	border-bottom: 22.52px solid #fc6863;
}
.footer_hexagon:after {
	top: 100%;
	width: 0;
	border-top: 22.52px solid #fc6863;
}
.footer h2{
	font-size: 32px;
	font-weight: 700;
	font-family: 'Gotham Pro Bold', sans-serif;
	color: #fff; 
} 
/*footer_end*/
/*----------------------------------------------*/
/*----------------------------------------------*/
@media (min-width: 320px) and (max-width: 480px){
	.section{
		min-width: 320px;
	}
	.container{
		width: 95%;
	}
	.header{
		text-align: center;
		min-width: 95%;
	}
	.footer{
		min-width: 320px;
	}
	.menu_and_logo_container {
		flex-direction: column;
		padding-top: 60px;
	}
	nav{
		margin-top: 120px;
	}
	.menu{
		flex-direction: column;
		margin: 0 auto;
		justify-content: center; 
	}
	.menu li{
		margin: 15px auto 0; 
	}
	.menu li:first-child {
		margin: 0 auto;
	}
	.menu li a {
		color: #fff;
		font-size: 35px;
		font-weight: 200;
		padding-bottom: 5px;
	}
	.want_clients_button{
		margin-left: 56px;
	}
	.line{
		width: 15px;
	}
	.service_container{
		margin-top: 25px;
	}
	.heading_message{
		width: auto;
	}
	.services_main_container{
		flex-direction: column;
		margin-top: 30px;
	}
	.inner_container{
		padding: 125px 10px 100px;
	}
	.honeycombs_container{
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.red_line{
		display: none;
	}
	.small_honeycombs{
		position: static;
	}
	.big_honeycombs{
		position: static;
	}
	.details_container {
		flex-direction: column;
		margin-top: 20px;
	}
	.details_image img{
		width: 100%;
	}
	.details_image{
		margin-top: 40px;
	}
	.details_info p{
		width: auto;
		font-size: 19px;
	}
	.hide_slash{
		display: none;
	}
	.categories{
		padding: 0;
		flex-direction: column;
		font-size: 30px;
	}
	.details_container_padding{
		padding-top: 0;
	}
	.details_headinfo{
		margin-top: 10px;
	}
	.categories_item{
		padding: 10px 0; 		
	}
	.special_item_1{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.special_item_2{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.grid_portfolio_images_container {
		overflow: hidden;
		margin-top: 45px;
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 194px);
	}
	.filter_text p {
		top: 21px;
		left: 7px;
		font-size: 22px;
	}
	div.right{
		background-color: #7d7a78;
	}
	.members_container{
		margin: 0 auto;
		width: auto;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.member_container{
		padding-top: 25px;
	}
	.alan_richman_container{
		flex-direction: column;
	}
	.alan_info{
		width: auto;
		font-size: 19px;
	}
	.alan_richman_container img{
		margin-top: 25px;
	}
	.google_maps_hexagon{
		display: none;
	}
	.alan_section{
		padding-bottom: 60px;
	}
	.services_main_container{
		margin-top: 0;
	}
	.service_info{
		font-size: 20px;
	}
}
/*----------------------------------------------*/
/*----------------------------------------------*/
@media (min-width: 481px) and (max-width: 675px){
	.section{
		min-width: 320px;
	}
	.container{
		width: 95%;
	}
	.header{
		text-align: center;
		min-width: 95%;
	}
	.footer{
		min-width: 320px;
	}
	.menu_and_logo_container {
		flex-direction: column;
		padding-top: 60px;
	}
	nav{
		margin-top: 120px;
	}
	.menu{
		flex-direction: column;
		margin: 0 auto;
		justify-content: center; 
	}
	.menu li{
		margin: 15px auto 0; 
	}
	.menu li:first-child {
		margin: 0 auto;
	}
	.menu li a {
		color: #fff;
		font-size: 35px;
		font-weight: 200;
		padding-bottom: 5px;
	}
	.want_clients_button{
		margin-left: 56px;
	}
	.services_main_container{
		flex-direction: column;
		margin-top: 30px;
	}
	.inner_container{
		padding: 125px 10px 100px;
	}
	.honeycombs_container{
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.red_line{
		display: none;
	}
	.small_honeycombs{
		position: static;
	}
	.big_honeycombs{
		position: static;
	}
	.details_container {
		flex-direction: column;
		margin-top: 20px;
	}
	.details_image img{
		width: 100%;
	}
	.details_image{
		margin-top: 40px;
	}
	.details_info p{
		width: auto;
		font-size: 19px;
	}
	.hide_slash{
		display: none;
	}
	.categories{
		padding: 0;
		flex-direction: column;
		font-size: 30px;
	}
	.details_container_padding{
		padding-top: 0;
	}
	.details_headinfo{
		margin-top: 10px;
	}
	.categories_item{
		padding: 10px 0; 		
	}
	.special_item_1{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.special_item_2{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.grid_portfolio_images_container {
		margin: 45px auto 0; 
		width: 480px;
		overflow: hidden;
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 194px);
	}
	.filter_text p {
		top: 21px;
		left: 7px;
		font-size: 22px;
	}
	div.right{
		background-color: #7d7a78;
	}
	.members_container{
		margin: 0 auto;
		width: auto;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.member_container{
		padding-top: 25px;
	}
	.alan_richman_container{
		flex-direction: column;
	}
	.alan_info{
		width: auto;
		font-size: 19px;
	}
	.alan_richman_container img{
		margin-top: 25px;
	}
	.google_maps_hexagon{
		display: none;
	}
	.alan_section{
		padding-bottom: 60px;
	}
	.service_container{
		margin-top: 25px;
	}
	.services_main_container{
		margin-top: 0;
	}
	.service_info{
		font-size: 20px;
	}
}
/*---------------------------------------------------*/
/*---------------------------------------------------*/
@media (min-width: 676px) and (max-width: 750px){
	.section{
		min-width: 320px;
	}
	.container{
		width: 95%;
	}
	.header{
		text-align: center;
		min-width: 95%;
	}
	.footer{
		min-width: 320px;
	}
	.menu_and_logo_container {
		flex-direction: column;
		padding-top: 60px;
	}
	nav{
		margin-top: 120px;
	}
	.menu{
		flex-direction: column;
		margin: 0 auto;
		justify-content: center; 
	}
	.menu li{
		margin: 15px auto 0; 
	}
	.menu li:first-child {
		margin: 0 auto;
	}
	.menu li a {
		color: #fff;
		font-size: 35px;
		font-weight: 200;
		padding-bottom: 5px;
	}
	.want_clients_button{
		margin-left: 56px;
	}
	.services_main_container{
		flex-direction: column;
		margin-top: 30px;
	}
	.inner_container{
		padding: 125px 10px 100px;
	}
	.honeycombs_container{
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.red_line{
		display: none;
	}
	.small_honeycombs{
		position: static;
	}
	.big_honeycombs{
		position: static;
	}
	.details_container {
		flex-direction: column;
		margin-top: 20px;
	}
	.details_image img{
		width: 100%;
	}
	.details_image{
		margin-top: 40px;
	}
	.details_info p{
		width: auto;
		font-size: 19px;
	}
	.hide_slash{
		display: none;
	}
	.categories{
		padding: 0;
		flex-direction: column;
		font-size: 30px;
	}
	.details_container_padding{
		padding-top: 0;
	}
	.details_headinfo{
		margin-top: 10px;
	}
	.categories_item{
		padding: 10px 0; 		
	}
	.special_item_1{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.special_item_2{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.grid_portfolio_images_container {
		margin: 45px auto 0; 
		width: 480px;
		overflow: hidden;
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 194px);
	}
	.filter_text p {
		top: 21px;
		left: 7px;
		font-size: 22px;
	}
	div.right{
		background-color: #7d7a78;
	}
	.members_container{
		width: auto;
	}
	.member_container{
		padding-top: 25px;
	}
	.alan_richman_container{
		flex-direction: column;
	}
	.alan_info{
		width: auto;
		font-size: 19px;
	}
	.alan_richman_container img{
		margin-top: 25px;
	}
	.google_maps_hexagon{
		display: none;
	}
	.alan_section{
		padding-bottom: 60px;
	}
	.service_container{
		margin-top: 25px;
	}
	.services_main_container{
		margin-top: 0;
	}
	.service_info{
		font-size: 20px;
	}
}
/*---------------------------------------------------*/
/*---------------------------------------------------*/
@media (min-width: 751px) and (max-width: 940px){
	.section{
		min-width: 320px;
	}
	.container{
		width: 95%;
	}
	.header{
		text-align: center;
		min-width: 95%;
	}
	.footer{
		min-width: 320px;
	}
	.menu li a {
		font-size: 19px;
	}
	.want_clients_button{
		margin-left: 56px;
	}
	.services_main_container{
		flex-direction: column;
		margin-top: 30px;
	}
	.inner_container{
		padding: 125px 10px 100px;
	}
	.honeycombs_container{
		width: auto;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.red_line{
		display: none;
	}
	.small_honeycombs{
		position: static;
	}
	.big_honeycombs{
		position: static;
	}
	.details_container {
		flex-direction: column;
		margin-top: 20px;
	}
	.details_image img{
		width: 100%;
	}
	.details_image{
		margin-top: 40px;
	}
	.details_info p{
		width: auto;
		font-size: 19px;
	}
	.hide_slash{
		display: none;
	}
	.categories{
		padding: 0;
		flex-direction: column;
		font-size: 30px;
	}
	.details_container_padding{
		padding-top: 0;
	}
	.details_headinfo{
		margin-top: 10px;
	}
	.categories_item{
		padding: 10px 0; 		
	}
	.special_item_1{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.special_item_2{
		grid-column-start:1;
		grid-column-end: 3;
	}
	.grid_portfolio_images_container {
		margin: 45px auto 0; 
		width: 480px;
		overflow: hidden;
		display: grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(4, 194px);
	}
	.filter_text p {
		top: 21px;
		left: 7px;
		font-size: 22px;
	}
	div.right{
		background-color: #7d7a78;
	}
	.members_container{
		width: auto;
	}
	.member_container{
		padding-top: 25px;
	}
	.alan_richman_container{
		flex-direction: column;
	}
	.alan_info{
		width: auto;
		font-size: 19px;
	}
	.alan_richman_container img{
		margin-top: 25px;
	}
	.google_maps_hexagon{
		display: none;
	}
	.alan_section{
		padding-bottom: 60px;
	}
	.service_container{
		margin-top: 25px;
	}
	.services_main_container{
		margin-top: 0;
	}
	.service_info{
		font-size: 20px;
	}
}
/*---------------------------------------------------*/
/*---------------------------------------------------*/
@media (min-width: 941px) and (max-width: 1260px){
	.section{
		min-width: 320px;
	}
	.header{
		text-align: center;
		min-width: 940px;
	}
	.footer{
		min-width: 320px;
	}
	.menu li a {
		font-size: 19px;
	}
	.want_clients_button{
		margin-left: 56px;
	}
	.details_info p{
		width: auto;
		font-size: 19px;
	}
	.categories_item{
		padding: 10px 0; 		
	}
	.members_container{
		width: auto;
	}
	.member_container{
		padding-top: 25px;
	}
	.google_maps_hexagon{
		display: none;
	}
	.alan_section{
		padding-bottom: 60px;
	}
	.service_info{
		font-size: 20px;
	}
}
/*div {
	border: 1px solid red; 
}
*/